In [16]:
%matplotlib inline

import utils

In [17]:
show_columns = ['RNN Scope','Number of hidden Units','Loss','TestLoss','TestMin', 'TrainMin']

# 1d Models

In [18]:
utils.extract_lstm_trained_output("1d-rbf")[show_columns].sort_values('TestMin')

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin,TrainMin
0,rnn-cell-1d-1498478841,100,MIN,-1.005,-1.017,-1.023
2,rnn-cell-1d-1498479668,100,SUMMIN,-15.720,-1.014,-1.012
1,rnn-cell-1d-1498479230,100,OI,-0.985,-0.988,-0.991
3,rnn-cell-1d-1498480063,100,WSUM_EXPO,-0.668,-0.958,-0.963
4,rnn-cell-1d-1499499735,100,SUM,-13.789,-0.890,-0.905

In [19]:
utils.extract_lstm_trained_output("1d-matern32")[show_columns].sort_values('TestMin')

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin,TrainMin
0,rnn-cell-1d-1498480459,100,MIN,-0.996,-0.998,-1.001
4,rnn-cell-1d-1499500063,100,SUM,-13.246,-0.933,-0.935
2,rnn-cell-1d-1498481395,100,SUMMIN,-14.052,-0.924,-0.924
3,rnn-cell-1d-1498481844,100,WSUM_EXPO,-0.496,-0.784,-0.779
1,rnn-cell-1d-1498480902,100,OI,-0.458,-0.474,-0.472

# 2d models

In [20]:
utils.extract_lstm_trained_output("2d-rbf")[show_columns].sort_values('TestMin')

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin,TrainMin
0,rnn-cell-2d-1498485717,100,MIN,-0.947,-0.950,-0.996
1,rnn-cell-2d-1498486433,100,OI,-0.926,-0.912,-0.961
2,rnn-cell-2d-1498487245,100,SUMMIN,-13.529,-0.893,-0.909
3,rnn-cell-2d-1498487978,100,WSUM_EXPO,-0.608,-0.878,-0.889
4,rnn-cell-2d-1499500405,100,SUM,-13.030,-0.865,-0.890

In [21]:
utils.extract_lstm_trained_output("2d-matern32")[show_columns].sort_values('TestMin')

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin,TrainMin
0,rnn-cell-2d-1498488698,100,MIN,-0.881,-0.882,-0.896
1,rnn-cell-2d-1498489510,100,OI,-0.781,-0.776,-0.780
2,rnn-cell-2d-1498490418,100,SUMMIN,-7.272,-0.540,-0.543
4,rnn-cell-2d-1499501091,100,SUM,-7.553,-0.533,-0.536
3,rnn-cell-2d-1498491255,100,WSUM_EXPO,-0.361,-0.505,-0.507

# 3d Models

In [22]:
utils.extract_lstm_trained_output("3d-rbf")[show_columns].sort_values('TestMin')[:10]

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin,TrainMin
0,rnn-cell-3d-1498492074,100,MIN,-0.917,-0.919,-0.970
1,rnn-cell-3d-1498493139,100,OI,-0.890,-0.888,-0.912
2,rnn-cell-3d-1498494334,100,SUMMIN,-13.878,-0.884,-0.906
3,rnn-cell-3d-1498495416,100,WSUM_EXPO,-0.617,-0.883,-0.906
4,rnn-cell-3d-1499501850,100,SUM,-12.563,-0.848,-0.897

In [23]:
utils.extract_lstm_trained_output("3d-matern32")[show_columns].sort_values('TestMin')[:5]

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin,TrainMin
0,rnn-cell-3d-1498496490,100,MIN,-0.855,-0.857,-0.892
3,rnn-cell-3d-1498500240,100,WSUM_EXPO,-0.515,-0.806,-0.832
1,rnn-cell-3d-1498497679,100,OI,-0.780,-0.792,-0.815
2,rnn-cell-3d-1498499010,100,SUMMIN,-9.592,-0.676,-0.725
4,rnn-cell-3d-1499502997,100,SUM,-8.400,-0.661,-0.706

# 4d Models

In [24]:
utils.extract_lstm_trained_output("4d-rbf")[show_columns].sort_values('TestMin')[:5]

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin,TrainMin
0,rnn-cell-4d-1498501447,100,MIN,-0.925,-0.927,-0.984
2,rnn-cell-4d-1498504450,100,SUMMIN,-13.298,-0.889,-0.949
1,rnn-cell-4d-1498502851,100,OI,-0.872,-0.886,-0.952
3,rnn-cell-4d-1498505878,100,WSUM_EXPO,-0.575,-0.881,-0.937
4,rnn-cell-4d-1499504253,100,SUM,-12.286,-0.869,-0.932

In [25]:
utils.extract_lstm_trained_output("4d-matern32")[show_columns].sort_values('TestMin')[:5]

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin,TrainMin
2,rnn-cell-4d-1498510653,100,SUMMIN,-11.939,-0.917,-0.992
3,rnn-cell-4d-1498512291,100,WSUM_EXPO,-0.527,-0.915,-0.974
4,rnn-cell-4d-1499505674,100,SUM,-10.881,-0.897,-0.973
0,rnn-cell-4d-1498507303,100,MIN,-0.887,-0.890,-0.956
1,rnn-cell-4d-1498508890,100,OI,-0.858,-0.877,-0.931

# 6d Models

In [26]:
utils.extract_lstm_trained_output("6d-rbf")[show_columns].sort_values('TestMin')[:5]

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin,TrainMin
0,rnn-cell-6d-1498513910,100,MIN,-0.995,-1.002,-1.097
1,rnn-cell-6d-1498515319,100,OI,-0.940,-0.948,-1.056
2,rnn-cell-6d-1498516915,100,SUMMIN,-12.555,-0.928,-1.042
4,rnn-cell-6d-1499507104,100,SUM,-10.991,-0.855,-1.015
3,rnn-cell-6d-1498518358,100,WSUM_EXPO,-0.505,-0.851,-0.992

In [27]:
utils.extract_lstm_trained_output("6d-matern32")[show_columns].sort_values('TestMin')[:5]

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin,TrainMin
0,rnn-cell-6d-1498519779,100,MIN,-1.060,-1.069,-1.328
3,rnn-cell-6d-1498524767,100,WSUM_EXPO,-0.471,-1.020,-1.243
1,rnn-cell-6d-1498521376,100,OI,-0.905,-0.946,-1.078
4,rnn-cell-4d-1499505674,100,SUM,-10.881,-0.897,-0.973
5,rnn-cell-6d-1499508613,100,SUM,-8.841,-0.856,-1.089