In [12]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import utils
import glob
import re
import pandas as pd

In [13]:
def string_to_number(st):
    stt = re.sub('^-','',st)
    if re.match('^\d+$', stt):
        return int(st)
    elif re.match('[\d\.]+',stt):
        return float(st)
    return st
assert(string_to_number('123123') == 123123)
assert(string_to_number('-123123') == -123123)
assert(string_to_number('0.2123123') == 0.2123123)
assert(string_to_number('-0.21123') == -0.21123)

In [14]:
def extract_output(log_dir):

    config = utils.loadConfig()
    path = config['BASE_LOG_DIR'] + '/' + log_dir + '/*'

    files = glob.glob(path)
    no_files = len(files)
    print('Found %d files in %s' % (no_files, path))

    results = []
    for fp in files:
        with open(fp) as f:
            columns = dict()
            lines = f.readlines()
            hyper_block = False
            for line in lines:
                reg_ex = '^-+'
                if re.match(reg_ex, line):
                    hyper_block = not hyper_block
                    
                if hyper_block and not re.match(reg_ex, line):
                    k,v = re.split(" *: +", line.strip())
                    columns[k] = string_to_number(v)
    
            last_lines = lines[-2].replace("Last output: ","")
            
            for t in last_lines.split('|'):
                k,v = re.split(" *: +", t.strip())
                columns[k] = string_to_number(v)
            results.append(columns)
    return pd.DataFrame(results)

In [28]:
show_columns = ['RNN Scope','Number of hidden Units','Loss','TestLoss','TestMin']

In [29]:
extract_output("2d")[show_columns].sort_values('TestMin')[:3]

Found 28 files in ./log/2d/*

                RNN Scope  Number of hidden Units Loss  TestLoss  TestMin
3  rnn-cell-2d-1497731697                     100  MIN    -0.924   -0.968
2  rnn-cell-2d-1497731360                      60  MIN    -0.955   -0.960
0  rnn-cell-2d-1497730689                      10  MIN    -0.947   -0.958

# 3d Models

In [35]:
extract_output("3d-rbf")[show_columns].sort_values('TestMin')[:5]

Found 8 files in ./log/3d-rbf/*

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin
0,rnn-cell-3d-1498175944,60,MIN,-0.839,-0.848
1,rnn-cell-3d-1498176338,100,MIN,-0.840,-0.848
6,rnn-cell-3d-1498178416,60,WSUM_EXPO,-0.524,-0.839
5,rnn-cell-3d-1498178016,100,SUMMIN,-11.741,-0.801
4,rnn-cell-3d-1498177616,60,SUMMIN,-11.727,-0.788

In [33]:
extract_output("3d-matern32")[show_columns].sort_values('TestMin')[:5]

Found 8 files in ./log/3d-matern32/*

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin
5,rnn-cell-3d-1498181506,100,SUMMIN,-11.930,-0.880
0,rnn-cell-3d-1498179215,60,MIN,-0.874,-0.877
7,rnn-cell-3d-1498182372,100,WSUM_EXPO,-0.527,-0.863
1,rnn-cell-3d-1498179654,100,MIN,-0.799,-0.801
4,rnn-cell-3d-1498181075,60,SUMMIN,-10.171,-0.753

In [34]:
extract_output("3d-matern52")[show_columns].sort_values('TestMin')[:5]

Found 8 files in ./log/3d-matern52/*

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin
1,rnn-cell-3d-1498183322,100,MIN,-0.857,-0.858
0,rnn-cell-3d-1498182808,60,MIN,-0.782,-0.784
7,rnn-cell-3d-1498186525,100,WSUM_EXPO,-0.452,-0.724
4,rnn-cell-3d-1498184965,60,SUMMIN,-9.244,-0.696
6,rnn-cell-3d-1498186009,60,WSUM_EXPO,-0.399,-0.675

# 4d Models

In [36]:
extract_output("4d-rbf")[show_columns].sort_values('TestMin')[:5]

Found 8 files in ./log/4d-rbf/*

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin
1,rnn-cell-4d-1498250543,100,MIN,-0.777,-0.801
0,rnn-cell-4d-1498250146,60,MIN,-0.789,-0.798
5,rnn-cell-4d-1498252230,100,SUMMIN,-10.194,-0.747
7,rnn-cell-4d-1498253030,100,WSUM_EXPO,-0.396,-0.745
4,rnn-cell-4d-1498251827,60,SUMMIN,-10.139,-0.744

In [37]:
extract_output("4d-matern32")[show_columns].sort_values('TestMin')[:5]

Found 8 files in ./log/4d-matern32/*

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin
3,rnn-cell-4d-1498254809,100,OI,-0.884,-0.903
1,rnn-cell-4d-1498253875,100,MIN,-0.845,-0.853
2,rnn-cell-4d-1498254315,60,OI,-0.734,-0.741
7,rnn-cell-4d-1498256652,100,WSUM_EXPO,-0.344,-0.707
4,rnn-cell-4d-1498255305,60,SUMMIN,-8.064,-0.673

In [38]:
extract_output("4d-matern52")[show_columns].sort_values('TestMin')[:5]

Found 8 files in ./log/4d-matern52/*

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin
1,rnn-cell-4d-1498257618,100,MIN,-0.827,-0.835
7,rnn-cell-4d-1498260745,100,WSUM_EXPO,-0.459,-0.829
3,rnn-cell-4d-1498258692,100,OI,-0.723,-0.738
5,rnn-cell-4d-1498259742,100,SUMMIN,-8.802,-0.725
6,rnn-cell-4d-1498260243,60,WSUM_EXPO,-0.357,-0.682

# 6d Models

In [40]:
extract_output("6d-rbf")[show_columns].sort_values('TestMin')[:5]

Found 8 files in ./log/6d-rbf/*

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin
1,rnn-cell-6d-1498291713,100,MIN,-0.929,-0.955
0,rnn-cell-6d-1498291320,60,MIN,-0.796,-0.813
5,rnn-cell-6d-1498293398,100,SUMMIN,-8.971,-0.733
7,rnn-cell-6d-1498294196,100,WSUM_EXPO,-0.310,-0.709
2,rnn-cell-6d-1498292110,60,OI,-0.671,-0.691

In [41]:
extract_output("6d-matern32")[show_columns].sort_values('TestMin')[:5]

Found 8 files in ./log/6d-matern32/*

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin
1,rnn-cell-6d-1498295036,100,MIN,-0.942,-0.957
3,rnn-cell-6d-1498295967,100,OI,-0.548,-0.568
5,rnn-cell-6d-1498296907,100,SUMMIN,-4.418,-0.493
0,rnn-cell-6d-1498294597,60,MIN,-0.434,-0.442
7,rnn-cell-6d-1498297782,100,WSUM_EXPO,-0.160,-0.411

In [42]:
extract_output("6d-matern52")[show_columns].sort_values('TestMin')[:5]

Found 8 files in ./log/6d-matern52/*

,RNN Scope,Number of hidden Units,Loss,TestLoss,TestMin
7,rnn-cell-6d-1498301947,100,WSUM_EXPO,-0.211,-0.582
1,rnn-cell-6d-1498298732,100,MIN,-0.508,-0.518
5,rnn-cell-6d-1498300906,100,SUMMIN,-4.812,-0.512
0,rnn-cell-6d-1498298215,60,MIN,-0.471,-0.479
3,rnn-cell-6d-1498299817,100,OI,-0.442,-0.452